<ion-header>
  <dfhead>Home</dfhead>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="scores.length > 0">
    <button ion-item *ngFor="let item of scores" (tap)="view(item)">
        <ion-icon item-start name="list"></ion-icon>
        {{ item['game']['name'] }}
    </button>
  </ion-list>
  <ion-list margin *ngIf="scores.length === 0">
  <message>There's no games that has been recorded lately</message>
  </ion-list>

</ion-content>
