<ion-menu [content]="nav" id="global" type="reveal" side="right">
  <ion-header>
    <ion-toolbar color="dark">
    <h5 margin-left>Menu</h5>
    </ion-toolbar>
  </ion-header>
   <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        <h2>{{p.title}}</h2>
      </button>
      <button menuClose ion-item (click)="logout()">
         <ion-icon name="log-out" item-left></ion-icon>
         <h2>Logout</h2>
      </button>
    </ion-list>
   </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #nav swipeBackEnabled="true">
</ion-nav>